<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contactos</title>
</head>
<body>
   
    <div class="container">
        <header>
            <h2>Agenda de Contactos</h2>
        </header>
        <main>
        <div class="formulario-de-datos">
                <form action="" class="form">
                        <input type="text" class="nombre" required >
                        <label class="lbl-nombre">
                            <span class="text-nombre">
                                Nombre
                            </span>
                        </label>
                </form>
                <form action="" class="form">
                    <input type="text" class="numero" required >
                    <label class="lbl-nombre">
                        <span class="text-nombre">
                            Numero
                        </span>
                    </label>
                </form>
                <form action="" class="form">
                    <input type="text" class="direccion" required >
                    <label class="lbl-nombre">
                        <span class="text-nombre">
                            Direccion
                        </span>
                    </label>
                </form>
            <button class="btn-agregar">Agregar</button>
            <div class="listado-contactos">
                
            </div>
        </div>
        </main>
    </div>
    <script src="js/function.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>